@import "tailwindcss";
html {
  font-size: 20px;
}

body {
  background-color: #0b0e14;
}
/* Убираем желтый фон для автозаполнения */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* Устанавливаем ваш цвет фона */
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset;
  /* Устанавливаем цвет текста (если он меняется) */
  -webkit-text-fill-color: white;
  /* Чтобы стиль применялся плавно */
  transition: background-color 5000s ease-in-out 0s;
  outline: none;
}
